
[Unit]
Description=Machine HIS Service
After=network.target

[Service]
ExecStart=/home/his/usr/venv/bin/python3 -u ihf1_bspn.py
WorkingDirectory=/home/his/usr/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=his

[Install]
WantedBy=multi-user.target